<div class="card" style="padding margin-top">
    <h3 class="text-uppercase"> <%= organization.name %> </h3>
    <p class="text-secondary"> <%= organization.description %>  </p>
    <%= link_to "Ver Mas", organization %>
</div>