<div class="small-container center-block">
   <h1> <%=@organization.name %></h1>
    <div>
        <%=@organization.description %>
    </div>
    <div>
        <%=link_to "Eliminar el organizacion", @organization, method: :delete %>
    </div>
</div>   